{{ $container := false -}}
{{ if or (eq (get .chezmoi.osRelease "variantID") "container") (env "container") (env "REMOTE_CONTAINERS") (env "CODESPACES") -}}
    {{ $container = true -}}
{{ else -}}
    {{ if ne ((output "sh" "-c" "systemd-detect-virt -c || true") | trim) "none" -}}
        {{ $container = true -}}
    {{ end -}}
{{ end -}}
{{ $name := or (get . "name") (env "GIT_AUTHOR_NAME") (env "GIT_COMMITTER_NAME") -}}
{{ $email := or (get . "email") (env "GIT_AUTHOR_EMAIL") (env "GIT_COMMITTER_EMAIL") (env "EMAIL") -}}
{{ if lookPath "git" -}}
    {{ $name = or $name (output "git" "config" "--get" "user.name" | trim) -}}
    {{ $email = or $email (output "git" "config" "--get" "user.email" | trim) -}}
{{ end -}}
{{ if lookPath "userdbctl" -}}
    {{ $userInfo := output "userdbctl" "--output=json" "user" .chezmoi.username | mustFromJson -}}
    {{ $name = or $name (get $userInfo "realName") -}}
    {{ $email = or $email (get $userInfo "emailAddress") -}}
{{ end -}}
[data]
{{- if stdinIsATTY }}
    name = {{ promptString "name" $name | quote }}
    email = {{ promptString "email" $email | quote }}
    theme = {{ promptStringOnce . "theme" "nord" "Theme to use" | quote }}
    theme_suffix = {{ promptStringOnce . "theme_suffix" "Theme variant to use" | quote }}
{{- else }}
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    theme = "nord"
{{- end }}
    vim = "nvim"
    container = {{ $container }}
[diff]
    exclude = ["scripts"]
