{{ $container := 0 -}}
{{ if or (eq (get .chezmoi.osRelease "variantID") "container") (env "container") (env "REMOTE_CONTAINERS") (env "CODESPACES") -}}
    {{ $container = 1 -}}
{{ else -}}
    {{ if ne ((output "sh" "-c" "systemd-detect-virt -c || true") | trim) "none" -}}
        {{ $container = 1 -}}
    {{ end -}}
{{- end -}}

[data]
{{- if not $container }}
    name = {{ promptString "name" | quote }}
    email = {{ promptString "email" | quote }}
    terminal = "kitty"
{{- else }}
    terminal = ""
{{- end }}
    vim = "nvim"
