#!/usr/bin/env bash

install_ubuntu_container() {
    sudo apt install -y --no-install-recommends neovim zoxide fd-find ripgrep fzf htop zsh zsh-syntax-highlighting zsh-autosuggestions bat hstr ncdu kitty-terminfo less curl git
    sh -c "$(curl -fsSL https://starship.rs/install.sh)"
    sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
    nvim -es -u ~/.config/nvim/init.vim -i NONE -c "PlugInstall" -c "qa"
}

install_ubuntu_desktop() {
    # Weak attempt to detect we are headless
    if [[ ! -d /usr/share/doc/ubuntu-desktop ]] ; then
        install_ubuntu_container
        exit 0
    fi
    sudo apt install neovim vim python3-pynvim flatpak zoxide fd-find ripgrep fzf htop zsh zsh-syntax-highlighting zsh-autosuggestions bat grc fonts-jetbrains-mono fonts-cascadia-code systemd-container systemd-coredump mkosi hstr ncdu papirus-icon-theme less kitty pipx fortune-mod cowsay figlet qdirstat git
    flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    flatpak install -y flathub org.signal.Signal com.spotify.Client
    if ! sudo systemd-detect-virt -q ; then
        flatpak install -y flathub com.valvesoftware.Steam
    fi
    sudo snap install starship lxd procs
    sudo snap install --classic lefthook
    sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
    nvim -es -u ~/.config/nvim/init.vim -i NONE -c "PlugInstall" -c "qa"
    curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
}

install_fedora_container() {
    sudo dnf -y install neovim ripgrep fd-find zoxide lsd procs fzf bat zsh zsh-autosuggestions zsh-syntax-highlighting bottom htop hstr git-delta dua-cli ncdu prettyping langpacks-core-en kitty-terminfo less curl exa tokei cloc gitui git
    sudo rpm --install https://github.com/evilmartians/lefthook/releases/latest/download/lefthook_amd64.rpm
    sh -c "$(curl -fsSL https://starship.rs/install.sh)"
    sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
    nvim -es -u ~/.config/nvim/init.vim -i NONE -c "PlugInstall" -c "qa"
}

install_fedora_desktop() {
    # Weak attempt to detect we are headless
    source /etc/os-release
    if [[ "$VARIANT_ID" == "server" ]] ; then
        install_fedora_container
        exit 0
    fi
    sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
    echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" | sudo tee /etc/yum.repos.d/vscode.repo
    sudo dnf -y install neovim python3-neovim vim-enhanced starship ripgrep fd-find zoxide lsd procs fzf bat zsh zsh-autosuggestions zsh-syntax-highlighting kitty flatpak bottom htop code systemd-networkd systemd-resolved systemd-container mkosi hstr git-delta dua-cli ncdu prettyping grc fortune-mod \
                        cascadia-code-pl-fonts overpass-mono-fonts jetbrains-mono-fonts applet-window-buttons papirus-icon-theme mint-x-icons mint-y-icons mint-themes cowsay figlet doge less pipx dolphin-plugins k4dirstat qdirstat kvantum python3-dnf-plugin-post-transaction-actions python3-dnf-plugin-tracer \
                        tokei cloc exa git gitui
    flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    flatpak install -y flathub org.signal.Signal com.spotify.Client
    if ! sudo systemd-detect-virt -q ; then
        sudo dnf -y group install --with-optional virtualization
        sudo dnf -y install steam-devices
        flatpak install -y flathub com.valvesoftware.Steam
        echo 'compress="zstd"' | sudo tee /etc/dracut.conf.d/compress.conf
    fi
    sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
    nvim -es -u ~/.config/nvim/init.vim -i NONE -c "PlugInstall" -c "qa"
    curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
}

{{ if or (eq (get .chezmoi.osRelease "variantID") "container") (env "container") (env "REMOTE_CONTAINERS") (env "CODESPACES") -}}
    {{ if eq .chezmoi.osRelease.id "fedora" -}}
         install_fedora_container
    {{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
         install_ubuntu_container
    {{ end -}}
{{ else -}}
    {{ $chassisType := (output "hostnamectl" "--json=short" | mustFromJson).Chassis -}}
    {{ if eq $chassisType "container" -}}
        {{ if eq .chezmoi.osRelease.id "fedora" -}}
            install_fedora_container
        {{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
             install_ubuntu_container
        {{ end -}}
    {{ else -}}
        {{ if eq .chezmoi.osRelease.id "fedora" -}}
             install_fedora_desktop
        {{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
             install_ubuntu_desktop
        {{ end -}}
    {{ end -}}
{{- end -}}
