include themes/{{ or (get . "theme_suffix") .theme }}.conf

symbol_map U+f17a,U+f798,U+f7d6,U+f7df Font Awesome 6 Brands

shell_integration no-cursor

font_family Cascadia Code PL Regular
bold_font Cascadia Code PL Bold
italic_font Cascadia Code PL Italic
bold_italic_font Cascadia Code PL Bold Italic

tab_bar_style powerline

show_hyperlink_targets yes

scrollback_lines 20000
strip_trailing_spaces smart
