include themes/{{ or (get . "theme_suffix") .theme }}.conf

symbol_map U+f17a,U+f798,U+f7d6,U+f7df Font Awesome 6 Brands

# "Nerd Fonts - Pomicons"
symbol_map  U+E000-U+E00D Symbols Nerd Font Mono

# "Nerd Fonts - Powerline"
symbol_map U+e0a0-U+e0a2,U+e0b0-U+e0b3 Symbols Nerd Font Mono

# "Nerd Fonts - Powerline Extra"
symbol_map U+e0a3-U+e0a3,U+e0b4-U+e0c8,U+e0cc-U+e0d2,U+e0d4-U+e0d4 Symbols Nerd Font Mono

# "Nerd Fonts - Symbols original"
symbol_map U+e5fa-U+e62b Symbols Nerd Font Mono

# "Nerd Fonts - Devicons"
symbol_map U+e700-U+e7c5 Symbols Nerd Font Mono

shell_integration no-cursor

font_family      family="Monaspace Neon NF"
bold_font        auto
italic_font      auto
bold_italic_font auto

tab_bar_style powerline

show_hyperlink_targets yes

scrollback_lines 20000
strip_trailing_spaces smart
