{{- if lookPath "delta" -}}
[core]
    pager = "{ [ $COLUMNS -lt 160 ] && delta || delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}; }"
[interactive]
    diffFilter = delta --color-only
[delta]
{{- if lookPath "code" }}
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
{{- end }}
    blame-code-style = syntax
{{- if eq .theme "catppuccin" }}
    syntax-theme = Catppuccin-{{ .theme_suffix }}
{{- else if eq .theme "dracula" }}
    syntax-theme = Dracula
{{- else if eq .theme "nord" }}
    syntax-theme = Nord
{{- else }}
    syntax-theme = TwoDark
{{- end }}
    hyperlinks = true
{{- end }}
[credential]
    helper = cache --timeout=3600
[diff]
    algorithm = histogram
{{- if and (not .container) (lookPath "kitty") }}
    tool = kitty
    guitool = kitty.gui
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
{{- end }}
[difftool]
    prompt = false
    trustExitCode = true
[difftool "vimdiff"]
    path = {{ .vim }}
[alias]
    d = !"git difftool --no-symlinks --dir-diff"
    ydiff = !"ydiff -s -w0"
    st = status
    co = checkout
    ci = commit
    br = branch
    du = diff -b
    dh = diff -b HEAD^!
    ds = diff -b --staged
    db = diff -b master...HEAD
    rb = rebase
    rbi = rebase -i
    rbc = rebase --continue
    rba = rebase --abort
    cp = cherry-pick
    rg = grep -p --heading --break
[rebase]
    autosquash = true
    autoStash = true
    updateRefs = true
[icdiff]
    pager = less
[grep]
    lineNumber = true
    patternType = extended
[submodule]
    recurse = true
    fetchJobs = 0
[status]
    submoduleSummary = true
    showStash = true
[pull]
    rebase = true
[fetch]
    prune = true
    parallel = 0
[user]
    name = {{ .name }}
    email = {{ .email }}
    signingKey = ~/.ssh/id_ed25519
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
[help]
    autocorrect = prompt
[merge]
    conflictStyle = zdiff3
[log]
    date = human-local
[format]
    pretty = format:%C(auto)%h %C(auto,magenta)%G? %C(auto,blue)%<(16)%ad %C(auto,green)%>>(20,mtrunc)%aN%C(auto)%d %s
[push]
    autoSetupRemote = true
