{
    "workbench.colorTheme": "Dracula",
    "files.autoSave": "afterDelay",
    "editor.fontFamily": "'Cascadia Code PL','JetBrains Mono'",
    "files.trimTrailingWhitespace": true,
    "editor.fontLigatures": true,
    "testExplorer.useNativeTesting": true,
    "telemetry.telemetryLevel": "off",
    "terminal.integrated.scrollback": 10000,
    "terminal.integrated.persistentSessionScrollback": 1000,
    "vim.highlightedyank.enable": true,
    "window.titleBarStyle": "custom",
    "redhat.telemetry.enabled": false,
    "remote.containers.dockerComposePath": "podman-compose",
    "remote.containers.dockerPath": "podman",
    "workbench.startupEditor": "none"
}